{% extends 'base.html' %}
{% block content %}
<h2>Rekisteröidy</h2>
<form method="post" novalidate>
  {% csrf_token %}
  <div>
    <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
    {{ form.username }}
  </div>
  <div>
    <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
    {{ form.password1 }}
  </div>
  <div>
    <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
    {{ form.password2 }}
  </div>
  <button type="submit">Luo käyttäjä</button>
</form>
{% endblock %}